  <div class="container">
    <div class="row">
      <div class="welcome">
        <h1><b>Critics List</b></h1>
        <span class="statement">Critics List makes it easy for you to build and customize playlists of current releases and
          album reviews.
        </span>
      </div>
      <div class="navigate">
        <button class="mb-3" mat-raised-button color="primary" type=button (click)="login()">SIGN IN WITH SPOTIFY</button>
        <br>
        <!-- <span>Source at <a class="bodylink" href="https://github.com/nblondhe">GitHub</a></span> -->
        <span>Need <a class="bodylink" href="https://www.spotify.com/us/">Spotify?</a></span>
      </div>
      <br>
    </div>
  </div>