<!-- <div class="jumbotron"> -->
  <div class="container">
    <div class="row home">
      <div class="welcome">
        <h1 class="site-title"><b>Critics List</b></h1>
        <span class="statement">Critics List makes it easy for you to build and customize playlists of current releases and
          album reviews.
        </span>
      </div>
      <div class="text-right navigate">
        <button class="mb-3" mat-raised-button color="primary" type=button (click)="login()">SIGN IN WITH SPOTIFY</button>
        <br>
        <!-- <span>Source at <a class="bodylink" href="https://github.com/nblondhe">GitHub</a></span> -->
        <span>Need <a class="bodylink" href="https://www.spotify.com/us/">Spotify?</a></span>
      </div>
      <br>
    </div>
  </div>
<!-- </div> -->
<!-- <footer class="row sticky-footer text-center">
    <p>Critics List Copyright &copy; 2018 <a class="bodylink" href="https://github.com/nblondhe/criticslist">njb</a>. Critics
      List is not affiliated with Spotify or any of the mentioned publications. Built using <a class="bodylink" href="http://www.spotify.com">Spotify</a>.
    </p>
  </footer> -->