<router-outlet></router-outlet>

<div *ngIf="albums">
<div class="container">
  <div class="row">
    <mat-toolbar color="primary">
      <span class="header">Critics List</span>
      <span class="user">Using Spotify as {{ this.userId }}</span>
      <span class="fill-space"></span>
      <span>
        <button mat-raised-button color="" type=button (click)="createList()">CREATE LIST</button>
      </span>
    </mat-toolbar>
    <mat-card>
      <mat-card-content>
      <div class="row">
        <div class="col-3" *ngFor="let album of albums; let index = i" class="playlists">
          <mat-card class="m-2">
            <div class="album">
              <!-- <h4>{{ playlist.name }}</h4> -->
              <div *ngIf="album.image !== '#'">
                <img class="img-wrap" src="{{ album.image }}">
                <button matTooltip="Remove album from list" matTooltipPosition="right" class="album-button" color="accent" (click)="removeAlbum(album, i)"
                  mat-mini-fab><mat-icon>remove</mat-icon></button>
              </div>
              <div *ngIf="album.image === '#'">
                <mat-icon class="svg" svgIcon="speaker"></mat-icon>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-3"></div>
      </div>
    </mat-card-content>
    </mat-card>
    <mat-toolbar color="primary">
        <span class="user">Some information....</span>
        <span class="fill-space"></span>
        <span>
          <button class="footer-nav" mat-raised-button color="" type=button >ABOUT</button>
        </span>
      </mat-toolbar>
  </div>
</div>
</div>