
.jumbotron {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
    background: none;
}

h1.display-4 {
    padding-top: 2rem;
}
span.user {
    margin-right: 0 !important;
}

div.center {
    padding-left: 5em;
}

span.header {
    font-size: 1.4em;
}

img.icon {
    max-width: 50px;
    padding-right: 10px;
    padding-left:  10px;
}

span.user {
    padding-top: .25em;
    margin-right: 3em;
}

.fill-space {
    flex: 1 1 auto;
  }
  
mat-card-subtitle.album-title {
    margin-top: .5em;
}
mat-form-field.reviewer-select {
    line-height: 1;
    font-size: initial;
    margin-right: 2em;
}

/* mat-form-field.mat-form-field-flex {
    margin-top: -.5em !important;
} */

.cards {
    display: flex;
    align-items: stretch;
}

.container.spinner {
    margin-top: 20%;
}

.album-card {
    margin: 20px;
    width: 200px;
}

.remove-button {
    position: absolute;
    bottom: -1.25em;
    left: 10.75em;
    margin-left: 2em;
    margin-right: 2em;
}