
span.header {
    font-size: 1.4em;
}

img.icon {
    max-width: 50px;
    padding-right: 10px;
    padding-left:  10px;
}

span.user {
    font-size: .75em;
    margin-right: 2em;
    color: rgb(214, 214, 214);
}

.fill-space {
    flex: 1 1 auto;
  }
  
mat-card-subtitle.album-title {
    margin-top: .5em;
}

.album-card {
    position: relative;
    /* max-width: 150px; */
    margin: 20px;
    width: 200px;
}

.remove-button {
    position: absolute;
    bottom: -20px;
    left: 154px;
    margin-left: 2em;
    margin-right: 2em;
}