<router-outlet></router-outlet>
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="text-right">
      <span class="user">
        Using spotify as
        <img class="icon" src="./assets/images/Spotify_Icon_RGB_Black.png"><b>{{ this.userId }}</b>
      </span>
    </div>
    <h1 class="display-4">Critics List</h1>
    <span class="fill-space"></span>
    <div class="header-actions" style="display: flex;">
      <form>
        <mat-form-field class="reviewer-select">
          <mat-select placeholder="Select Reviews" [(ngModel)]="selectedPlaylist" name="reviewer">
            <mat-option *ngFor="let reviewer of reviewers" [(value)]="reviewer.value">
              {{reviewer.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-stroked-button color="primary" type=button (click)="getData(selectedPlaylist)">Retrieve Albums</button>
      </form>
      <span class="fill-space"></span>
      <span class="create">
        <button mat-raised-button color="primary" type=button (click)="createList()">Create Playlist</button>
      </span>
    </div>
    <!-- <p class="lead">Select reviewer below to create a playlist to go along with your preferred review website </p> -->
    <hr class="my-4">
  </div>
  <div class="center">
    <div *ngIf="!displayAlbums" class="spinner">
      <div class="row justify-content-center">
        <mat-spinner [diameter]="250"></mat-spinner>
      </div>
    </div>
    <div *ngIf="displayAlbums" class="row justify-content-left mt-3 mb-5">
      <div class="cards" *ngFor="let album of albums; let index = i">
        <mat-card class="album-card">
          <div *ngIf="album.image !== '#'">
            <img mat-card-image src="{{ album.image }}" alt="album cover">
          </div>
          <div *ngIf="album.image === '#'">
            <mat-icon class="svg" svgIcon="speaker"></mat-icon>
          </div>
          <button class="remove-button" color="accent" (click)="removeAlbum(album, i)" mat-mini-fab>
            <mat-icon>remove</mat-icon>
          </button>
          <mat-card-content>
            <span><b>{{ album.artist }}</b></span>
            <mat-card-subtitle class="album-title">{{ album.title }}</mat-card-subtitle>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>